body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item {
  font-size: 17px;
  padding: 12px;
  margin: 0px 0px;
}

.nav-item:hover {
  color: rgb(252, 188, 26);
  font-size: 17.5px;
}

.yellow {
  color: rgb(252, 188, 26);
  /* color: rgb(255, 0, 0); */
}

.paragraph {
  font-size: 20px;
}

.home {
  margin-top: 100px;
}

.section {
  margin-top: 100px;
}

#aboutSection,
#skillsSection,
#projectSection,
#contactSection {
  border: 2px solid black;
  /* border: 2px solid white; */
}

.socialMedia {
  margin: 0px 0px 4em 0px;
}

.socialMediaBoxes {
  border: 2px solid rgb(156, 151, 151);
  margin: 1em 0.5em;
  /*top right bottom left */
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.socialMediaBoxes:hover {
  background-color: rgb(255, 189, 57);
  color: rgb(238, 233, 233);
}

.skillbox:hover {
  background-color: rgba(252, 255, 255, 0.062);
}

.cardBox {
  background-color: rgba(252, 255, 255, 0.062);
  /* color: rgb(255, 189, 57); */
  padding: 0;
  cursor: pointer;
  height: 320px;
}

.cardBox>a {
  text-decoration: none;
  color: white;

}


.cardBox:hover {
  background-color: rgb(255, 189, 57);
  color: white;
  transition: .30s ease-out;
}

.cardImage {
  width: 'inherit';
  height: 200px;
}

.cardText {
  margin-top: 25px;
}

/* .cardElements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */